body {
    background-color: black;
    background-image: url("background.jpg");
    background-size: cover;
}

.quote_div {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 25px 5px;
    margin: 15% auto auto;
}
button {
    position: fixed;
    top: 50vh;
    right: 50vw;
    border-radius: 4px;
    background-color: #dd1100;
    color: white;
    font-size: 1.1rem;
    padding: .6rem;
    text-align: center;
}
button:hover {
    border: 2px solid #dd1100;
    color: #dd1100;
    background-color: white;
}
